{% extends "layout.html" %}
{% block content %}


  
<div class="container" style="margin-top:10px">

    <div class= "row" style="margin-top:30px">
      <div class="col-lg-12">
          <p>The NotCake App was created for kicks and giggles by Noah G. Luna. It was inspired by the "NotHotDog App" mentioned on HBO's hit sitcome, "Silicon Valley".</p>
          <p>Noah is still unemployed as of making this application. Feel free to reach out to them with a job offer, career advice, or coffee. Hugs are welcomed, too.</p>
      </div>
    </div>

</div>
    


{% endblock content %}


